<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <h1>MY name is lokesh</h1>
        <a href="/auth/librarianlogin/">librarianlogin</a>
        <a href="/auth/userlogin/">userlogin</a>
    </body>
</html>